<div id="carouselExampleIndicators" class="carousel slide">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/assets/banner1.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/assets/banner2.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/assets/banner3.png" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<style>
.main-container{
  font-family:'VisbyCF-Medium';
}
h2{
  text-align:center;
  margin-top:20px;
}
</style>
<div class=main-container>
  <h2>SHOP BY STORE</h2>
</div>
<h1>Stores List</h1>
<ul>
  <% @stores.each do |store| %>
    <div>
        <div> Name: <%= link_to store.store_name, store_path(store) %> </div>

        

        <%= link_to "Edit", edit_store_path(store)%>
        <%= button_to "Delete", store_path(store), method: :delete%>
        
    </div>
  <% end %>
</ul>
<%if user_signed_in? and current_user.user_type=="Admin"%>
  <%= link_to "Add a New Store", new_store_path %></br>
<%end%>