<h1>Stores List</h1>
<ul>
  <% @stores.each do |store| %>
    <div>
        <div> Name: <%= link_to store.store_name, store_path(store) %> </div>

        

        <%= link_to "Edit", edit_store_path(store)%>
        <%= button_to "Delete", store_path(store), method: :delete%>
        
    </div>
  <% end %>
</ul>
<%if user_signed_in? and current_user.user_type=="Admin"%>
  <%= link_to "Add a New Store", new_store_path %></br>
<%end%>