<style>
.order-confirmed{
  position:absolute;
  top:10%;
  left:15%;

}
#cont-shop-btn{
  margin-top:0;
  margin-left:100px;
}
</style>


<div class="outer-container">
  <div class="main-container"></div>
  <div class="order-confirmed">
    <img src="/assets/order-confirmed.png" style="height:380px;">
    <a href="<%=url_for(stores_path)%>"><button type="button" class="btn btn-outline-dark" id="cont-shop-btn">Continue Shopping</button></a>
  </div>
</div>








