
.custom-navbar
{
  --bs-navbar-padding-y: 0rem !important;
  margin: auto !important;
  
}
.navbar-logo
{
    height:50px;
}
.user-avatar
{
    height:45px;
    margin-right:10px;
}
.nav-container{
    position: fixed;
    top: 0;
    z-index: 1;
}
.bg-dark{
    background-color: #070707 !important;
}